extends layout

block content
    .container
        h1 Invitaion
        hr
        if(user)
            -if ( JSON.stringify(invitaion.hostBy)== JSON.stringify(user._id))
                h6 Your invite Link is: 
                    a(href=`/view/${invitaion.InvitaionId}`) http://127.0.0.1:3000/view/#{invitaion.InvitaionId}
                hr
        if invitaion
            //p   #{invitaion}
            .invitaion
                h3 #{invitaion.Header}
                hr
                p #{invitaion.Body}
                hr
                footer
                    p #{invitaion.Footer}

        else   
            h3 No invitation Found in Database 😅