extends layout

block content
    link(rel="stylesheet", href="../style/showInvitation.css")
    .container
        h1 Invitaion
        hr
        if(user)
            -if ( JSON.stringify(invitaion.hostBy)== JSON.stringify(user._id))
                h6 Your invite Link is: 
                    a(href=`/view/${invitaion.InvitaionId}`) http://127.0.0.1:3000/view/#{invitaion.InvitaionId}
                hr
        if invitaion
            -if(invitaion.picture=="card.jpg"){
                .imgCard  
                    img(src=`../image/${invitaion.picture}`, alt='')
                    h1  #{invitaion.Header}
                    p #{invitaion.Body}
                    footer #{invitaion.Footer}
            -}
            -if(invitaion.picture=="wine.png"){
                .wineCard 
                    img(src=`../image/${invitaion.picture}`, alt='')
                    h1  #{invitaion.Header}
                    p #{invitaion.Body}
                    footer #{invitaion.Footer}
            -}
            -if(invitaion.picture=="wedding.png"){
                .weddingCard
                    img(src=`../image/${invitaion.picture}`, alt='')
                    h1  #{invitaion.Header}
                    h2 #{invitaion.HeaderOne}
                    p #{invitaion.Body}
            -}
            -if(invitaion.picture=="funeral.png"){
                .funeralCard
                    img(src=`../image/${invitaion.picture}`, alt='')
                    h1  #{invitaion.Header}
                    p #{invitaion.Body}
                    footer #{invitaion.Footer}
            -}
                

        
        else   
            h3 No invitation Found in Database 😅
        br
        br
        br